<dialog class="fenetreModale" id="miseConfirmation">
  <section>
    <h1>Placer une mise</h1>

      <span id="mise"></span>

      <button id="btnConfirmerMise" type="submit">Confirmer la mise</button>

      <button id="btnAnnulerMise" class="fermerModale" type="submit">Annuler</button>

  </section>
</dialog>