<div class="container">
  <div class="information">
    <section>


      <div class="inscription-header">
        <h1>{{ header|upper }}</h1>
      </div>

      <p> {{ message }} </p>

      <p> Vous pouvez voir votre nouvelle enchère =><a href="{{ lienFiche }}"> ici </a> </p>
    </section>
  </div>
</div>
