<div class="container">
  <div class="information">
    <section>


      <div class="inscription-header">
        <h1>{{ header|upper }}</h1>
      </div>

      <p> {{ message }} </p>

    </section>
  </div>
</div>
