<dialog class="fenetreModale" id="modaleConfirmation">
  <section>
    <h1><span id="titreConfirmation"></span> </h1>

      <span id="msgConfirmation"></span><span class="material-symbols-outlined confirmation-done">done</span>
      <button class="fermerModale">OK</button>
  </section>
</dialog>